# GenericSuite Basecamp path.
# If empty, run_docs_converter.sh will clone the GenericSuite Basecamp repo in the ./genericsuite-basecamp directory
GS_BASECAMP_PATH=

OPENAI_API_KEY=

OPENAI_MODEL=gpt-5-nano
# OPENAI_MODEL=gpt-4o-mini

OPENAI_TEMPERATURE=1
# OPENAI_TEMPERATURE=0.3
